[2014-05-01 21:23] dylanmei opened #1 "Provide hooks for testability"
_Related to this issue: https://github.com/mitchellh/packer/issues/451_

This is working really well for me. I'm using the "library"-able part of the project which I hope will allow me to create a WinRM communicator for packer.

However, I'm finding it very difficult to design tests with _masterzen/winrm_ underneath.

Do you have any tips or are you are open to contributions that along the lines o

[2014-08-26 18:35] vladimir-shcherbakov opened #5 "Fail to connect to Azure Vm"
Hi,

I'm looking for a working golang WinRm implementation for Azure VMs.

So in my case I can execute remote commands with PowerShell:

![image](https://cloud.githubusercontent.com/assets/6579928/4049561/9ae6c688-2d4e-11e4-9943-db6a8257d751.png)

But with your winrm package - connection fails:

![image](https://cloud.githubusercontent.com/assets/6579928/4049628/4c177c86-2d4f-11e4-9e00-5ed186d67d9

[2014-08-27 12:17] ProTip opened #6 "Negotiate/NTLMv2"
I'm not sure who has the best golang winrm going now but I thought I'd throw this idea around here.  I've done near zero Cgo so I'm not sure what the barriers are, but freerdp have a pretty full on sspi implementation complete with NTLMv2(one of a kind AFIAK) and Negotiate: https://github.com/FreeRDP/FreeRDP/tree/master/winpr/libwinpr/sspi .

What would the difficulty be in utilizing this via Cgo?

[2014-09-14 13:21] hach-que opened #7 "winrm binary does not pass through exit code"
Even if I run a batch script on the remote computer that contains "exit 1", the exit code of winrm is still 0.  Instead the binary should fetch the exit code of the process and return that instead.

[2014-09-14 16:55] #7 closed, assigned to nobody

[2014-09-15 13:56] hach-que opened #9 "Command is not correctly XML encoded"
If you try and run a command like:

`cd C:\SomePath & something`

The command will fail with `WinRM cannot process the request because the input XML contains a syntax error.`

If you do this instead:

`cd C:\SomePath &amp; something`

it works as expected.

[2014-09-15 15:21] #9 closed, assigned to nobody

[2014-09-24 01:59] hach-que opened #11 "function ends without a return statement"
Seeing this build error on go 1.0.3:

[code]

I added 'return' to the end of the function (outside the if / else) and it then built successfully.

[2014-09-24 07:14] hach-que opened #12 "winrm process hangs"
I've encountered an issue where winrm hangs while waiting for processes to complete on a t1.micro, but the processes are no longer running on the remote host.  The `winrshost.exe` processes are still around (in this case I'm running git clone).

This was encountered when running `git clone` 4 times in 4 different directories (in parallel).

[2014-10-02 02:46] hach-que opened #13 "User profile is not loaded before running command"
The user profile is not loaded on the remote host before running the command.  This means that the encryption keys used by, e.g. NuGet, are not accessible.

See http://blog.stangroome.com/2012/05/17/powershell-remoting-user-profiles-delegation-and-dpapi/ for more information.  I'm guessing there's some way of telling WinRM to do this as `Enter-PSSession` in PowerShell does it, but not `Invoke-Comm

[2015-02-16 14:38] GeertJohan opened #16 "Extract soap package"
I think the soap package is useful on its own. Any plans to extract it to a separate repository?

[2015-02-16 14:59] masterzen commented on #16
The soap implementation here is very far from a usable soap underlying system (for instance it supports only creating soap messages, no general parsing), and is very tailored toward winrm.
So I'm not sure it would be very useful for anyone beside the winrm library :(

[2015-02-16 15:33] GeertJohan commented on #16
Oh, I think it provides the most features of all soap packages currently available and hoped it would be developed further to provide a full soap implementation. No plans for that?

[2015-02-25 18:33] robdaemon opened #17 "winrm command does not propagate exit code"
When you run the winrm command line tool, it does not propagate the exit code from the command, so it is difficult to use the tool in a script.

[2015-02-26 08:28] masterzen commented on #17
Hi @robdaemon

Thanks for the bug and PR. This was removed in commit cfef3a610d1a3b4516d66c76f12832d9d8d534db ported by @mefellows from @sneal code for the Packer winrm communicator.

@sneal, @mefellows would it be possible to have the exit code back?
I never quite understood why we removed it in the first place, but I suppose we had a good reason, isn't it?
What would be the implication for the p

[2015-02-26 08:47] mefellows commented on #17
I think it's a good idea to have it return a valid exit code, I can't recall the exact reasons for its removal but it was part of a 'working' code base that @sneal had put together so at the time I thought best to keep it in. Let's wait for his view, but if there isn't a strong reason lets get it in now.

As for Packer and related systems, we can take the hit now whilst we are still 'alpha' - I'm

[2015-02-26 09:31] masterzen commented on #17
@mefellows, ok, that sounds like a good plan.

Thanks!

[2015-02-26 13:59] sneal commented on #17
Who removed the exit code, that was dumb :smile:

[2015-02-26 15:05] masterzen commented on #17
OK, so everybody agrees on having the exitCode back again? :)

[2015-02-26 19:13] robdaemon opened #19 "HTTPS support"
It would be great to have full HTTPS support for WinRM, including specifying a CA certificate, the ability to skip validation (which I don't recommend, but some actually use), etc.

[2015-02-26 19:15] robdaemon commented on #19
I have a PR I'm ready to submit that adds a -https flag, a -insecure flag and a -cacert flag. It does slightly change the NewClient/NewClientWithParameters so that it can return an error if the CA cert cannot be loaded though.

I'm not so sure that the -https flag is the right way to go - I contemplated replacing -host and -port with -url instead.

[2015-02-26 22:16] masterzen commented on #19
Hi,

I had https support in mind for a long time, but never had the time to really implement it.

Please publish the PR so that we can discuss the design/code and how it breaks the API (or not).

Thanks!

[2015-02-27 08:34] mefellows commented on #17
Agreed. I'll checkout the PR locally and make the changes. I won't be able
to get onto this until next week (likely) but feel free to update the WinRM
library first and we can go from there.

On Fri, Feb 27, 2015 at 2:05 AM, Brice Figureau <notifications@github.com>
wrote:

--
Matt Fellows
- http://www.onegeek.com.au/

[2015-02-27 20:05] #17 closed

[2015-03-02 21:54] robdaemon commented on #19
Okay, submitted the PR. Looking forward to feedback! It's not a big change.

[2015-03-07 12:11] #19 closed

[2015-03-18 21:23] zl4bv commented on #11
FYI, saw this issue with go 1.0.2. Not seeing this issue with go 1.4.2.

[2015-03-27 03:27] levilovelock opened #23 "not respecting -Wait or exit codes of powershell scripts"
If I have a script like:

[code]

And run it under the powershell provisioner, I see two errors. Firstly, the wait is not respected and also the return code is 0, so it passes.

I get each of those behaviour when I invoke the command through the winrm binary . Not sure if you guys know if there's something I can add here to make it behave as I want?

I should note that this works for blocking the

[2015-04-06 14:58] hach-que commented on #23
Can you try running this under an Administrator PowerShell prompt on the remote host, and then running your command again?  I'd be interested to know if it solves the issue you're seeing.

[code]

This increases the limits well beyond their defaults (and does so more extensively than the instructions in the README).  I was just about to file an issue to update the README with these instructions in

[2015-04-06 15:09] hach-que commented on #23
Upon further testing, it doesn't look like this solves the problem, it just allows commands to run for longer (for some strange reason).

[2015-04-06 16:01] hach-que commented on #23
This should be fixed with PR #25.

[2015-06-29 22:05] cbednarski opened #27 "Test hangs for /winrm"
When running `make test` there's a relatively high chance that the tests for `github.com/masterzen/winrm/winrm` will hang. We see this manifest as [intermittent CI failures in packer ](https://github.com/mitchellh/packer/issues/2312).

I suspect there's a race condition in the test code, possibly related to `gopkg.in/check.v1`. gotip's race detector identifies a ton of things but there was a bit t

[2015-10-17 04:59] paulmey commented on #6
I've just written an implementation in Go: http://github.com/paulmey/go-ntlmssp
This library does the bare minimum for auth, but I think that should be enough for most cases?

[2015-10-17 11:37] masterzen commented on #6
@paulmey this looks interesting. I'll have a look as soon as I can find some time.

[2015-10-18 21:28] paulmey commented on #6
Since #33 is merged now, this issue can potentially be closed... :-)

[2015-10-19 07:40] #6 closed

[2015-10-26 17:25] paulmey commented on #5
This is now fixed. I can connect to Azure machines using NTLM/Negotiate

[2016-01-17 20:28] pecigonzalo commented on #13
I know this is really old, but i can try and give this a look. I think its just a matter of changing a parameter on the SOAP message.

[2016-01-18 13:15] masterzen commented on #13
@pecigonzalo go ahead and submit a PR, I'll merge it.

[2016-02-23 15:21] jstrachan opened #38 "add a client.NewShell(shellID) method so we can create a Shell for a given shellID"
I've a use case where I want to be able to create a Shell for a pre-existing shell ID so that I can delete it. The client is private in the Shell struct so I can't just create a Shell directly - so it'd be nice to add a little helper method to make a new Shell from a shellID.

A PR is on its way shortly.

BTW if you're interested, we need this for kansible:
https://github.com/fabric8io/kansible

M

[2016-02-26 11:35] jstrachan commented on #38
PR now merged!

[2016-02-26 11:35] #38 closed

[2016-02-26 11:39] jstrachan opened #41 "do we need a cmd.Error() function?"
When running a command inside a Shell like this:
https://github.com/fabric8io/kansible/blob/master/winrm/winrm.go#L59-L71

[code]

I didn't see a way to get the error from the command after the `Wait()`? I can get the ExitCode though I guess.

[2016-04-20 19:26] selvik commented on #5
@paulmey Thanks for the updating this thread! I am looking for a way to authenticate in to an Azure VM. Would you happen to have pointers/code snippet on how to use the NTLM/negotiate method?

[2016-04-21 03:15] selvik commented on #5
@paulmey I figured it out. Thanks for your update here that lead me to it!

The code snippet in the top-level readme.md of this project was all that was needed!

Pasting it here for anyone who comes by this issue:
`params := winrm.DefaultParameters()`
`params.TransportDecorator = func(t *http.Transport) http.RoundTripper { return ntlmssp.Negotiator{t} }`
`client, err := winrm.NewClientWithParamete

[2016-04-21 14:08] hoenirvili commented on #41
Also when I'm running this code it should send somehow a signal on that Command.Done channel? In my example , it just hangs because the empty struct channel waits to recive smth. Does someone tested this enough?

[2016-04-24 16:51] paulmey commented on #5
@selvik Awesome. Let me know if you run into any issues. The ntlmssp project could use some feedback.

[2016-05-11 21:46] mwieczorek opened #46 "'Attempting WinRM connection' - timeout for httpClient"
I have problem with building VM with Packer, but I think the issue can be in winrm (that's why I create issue here, not in Packer repo)

My host: Windows 8.1
Packer version: 0.10.1

I want to build: https://github.com/StefanScherer/packer-windows/blob/my/windows_2016_docker.json (-only=virtualbox-iso)
Log in gist: https://gist.github.com/mwieczorek/83e6034fc41f06a8583bc3315646ab1b

Packer is "Atte

[2016-05-13 08:09] masterzen commented on #46
@mwieczorek,

I'm not sure I understand what you mean.
Is that your VM has no winrm and then since there is no timeout packer can't make any progress if the vm doesn't answer to winrm connections?

If yes, then that's true we would need a connection timeout of some sort. I would have thought that if winrm wasn't active on the guest, then the connection wouldn't proceed and we would return immediat

[2016-05-13 09:21] mwieczorek commented on #46
I think it can be true. Packer is waiting when the winrm is not configured yet, but maybe some default firewall rules are.

Yes, in logs (from gist) we have:
`2016/05/11 22:49:25 packer.exe: 2016/05/11 22:49:25 [ERROR] WinRM connection err: unknown error Post http://127.0.0.1:2841/wsman: EOF`
And then suddenly it's waiting...
So it can be firewall.

Anyway:
If you can add timeout I will be gratefu

[2016-05-16 09:31] masterzen commented on #46
@mwieczorek , I've done several tests with firewall off/on. Indeed with firewall on, I get the same error message as you.

I have a fix almost ready (yours unfortunately is not correct since the timeout you set is an end-to-end timeout and not only a connect and wait for response timeout). Some WinRM requests can take a long time before something happens (like for instance fetching command `stdout

[2016-05-16 16:33] #46 closed

[2016-05-16 16:36] masterzen commented on #27
I think we solved this around July 2015, feel free to reopen if you still see the problem.

[2016-05-16 16:37] masterzen commented on #5
Closing since this is now fixed.

[2016-05-16 16:37] #5 closed

[2016-05-16 16:37] #11 closed

[2016-05-18 03:31] hach-que opened #48 ""http error: 500" on latest master"
As part of our deployment process, we build and deploy the latest winrm version.  We've noticed that master now seems to error with "http error: 500" when we're doing long running commands (usually after about 70 seconds or so).

This previously didn't happen, and it doesn't happen on versions of WinRM that only have these options (not sure which commit this was built from):

[code]

I'm sure we'v

[2016-05-18 08:08] hoenirvili commented on #48
#47 I think i'ts because of this issue @masterzen

[2016-05-18 08:11] masterzen commented on #48
Yes @hoenirvili, it is probably the problem.
@hach-que can you edit the default timeout of 60s here: https://github.com/masterzen/winrm/blob/master/winrm/endpoint.go#L38
and put a larger number matching what your commands do.
Then let me know if that succeeds or fails, I'll then raise the default timeout.

[2016-05-18 09:26] masterzen commented on #48
@hach-que BTW, do you use the `winrm` executable or directly the API?
Normally, when using the `winrm` executable, there shouldn't be any timeout by default unless you use the `-timeout` option.
Can you confirm how you use this project?

[2016-05-18 09:38] hach-que commented on #48
Via the executable

On Wed., 18 May 2016, 7:26 pm Brice Figureau, <notifications@github.com>
wrote:

[2016-05-18 09:58] hoenirvili commented on #48
@masterzenI think it's a good time to make this proposal
I propose to decouple the executable code from the api code. It's starts to be ugly and we should user a library-framework to easily customize , and develop our binary-executable-tool.
This way it's more easily to make changes to the API without adding/deleting things on executable and vice-versa. Plus a better error handling system in the c

[2016-05-18 10:38] hoenirvili commented on #16
@masterzen close?

[2016-05-18 10:39] hoenirvili commented on #13
@masterzen close?

[2016-05-18 12:12] masterzen commented on #48
@hach-que would it be possible for you to `git-bisect` and find the commit that starts the issue?
The `winrm` executable as of current master has no timeout by default (just tested again), so the problem might be a prior commit which we need to find.

[2016-05-18 12:13] masterzen commented on #48
@hoenirvili , please open a new issue for separating the cli executable from the library.

[2016-05-18 12:14] masterzen commented on #16
Closing since I won't have time to work on such feature. If anyone want to take care of this, please reopen.

[2016-05-18 12:14] #16 closed

[2016-05-18 12:15] masterzen commented on #23
PR #25 has been merged-in, so closing. Reopen if it's not fixed.

[2016-05-18 12:15] #23 closed

[2016-05-18 12:16] hoenirvili opened #49 "Separating the cli executable from the library."
@masterzen think it's a good time to make this proposal
I propose to decouple the executable code from the api code. It's starts to be ugly and we should use a library-framework to easily customize and develop our binary-executable-tool.
This way it's more easily to make changes to the API without adding/deleting things on executable and vice-versa. Plus a better error handling system in the code

[2016-05-19 05:16] hach-que commented on #48
Unfortunately this is a production system that the issue occurs on, so I can't be `git bisect` testing which version works (and because it's in a cluster, there's no way to reliably force a build to occur on the machine that I'm A/B testing on without interrupting other services).

We use `winrm` like we would use `ssh` - the concept of having timeouts here doesn't make a lot of sense, in the same

[2016-05-19 09:42] masterzen commented on #48
@hach-que, I'll try to reproduce the issue and do the git bisect.

What kind of commands were you running that were giving the `http 500` error you were mentioning?
What version of go did you use to compile the project?
HTTP 500 error codes usually refers to a server-side error, not a client side. Would you be able to log in the affected systems and find the winrm event logs and see if something m

[2016-05-19 11:03] masterzen commented on #48
@hach-que ok, I think I've found the problem. We somehow lost your code from this commit e776fa0185887e19d080602deb93484e2533e396 which means we propagate now the OperationTimeout up to the layer stack aborting the command run instead of gracefully ignoring it and retrying.

This is also related to @pecigonzalo PR #26, which I'm going to merge soon.

This isn't related to my latest code from PR #4

[2016-05-19 11:40] masterzen commented on #48
@hach-que would you be able to test the code in PR #50?

[2016-05-19 11:41] masterzen commented on #49
@hoenirvili
I think we should do the separation. I'm going to see how I can do it this week.
What I'd also like to do is add more logging to the library so that we can run it in debug mode to help troubleshooting.

Any idea of a logging library we could use that could fit all our use cases (like Packer or direct usage of winrm).

[2016-05-19 11:57] hoenirvili commented on #49
@masterzen
I think these two should do the trick:
https://github.com/Sirupsen/logrus
https://github.com/tj/go-debug (very light weight)

[2016-05-20 09:50] hoenirvili commented on #49
@masterzen so what do you think?

[2016-05-20 11:33] masterzen commented on #49
@hoenirvili I think I don't want to introduce a dependency for the library (I'm OK to do that for the cli part when we'll split it). I first want to address #48 before addressing this.

Regarding the logging, I think the library part should have its own `Logger` interface (doing nothing by default or using default golang `log`), which a client (using the library) could provide by implementing the

[2016-05-23 08:08] #48 closed

[2016-05-23 09:34] masterzen commented on #49
Reopening, bad push marked it fixed.

[2016-05-23 11:38] OCram85 opened #53 "winrm building error (empty Private Key)"
I got the following error while building winrm. Any ideas what I did wrong?
I`ve already done:
- `export $GOPATH=/tmp/gotmp`
- installed GO with: `apt-get install golang*`
- exported `http_proxy` and https_proxy for downloading the src.
- OS: Linux Mint 17.3

Detailed Error Message
-------------------------------
[code]

[2016-05-23 11:41] hoenirvili commented on #53
@masterzen decoupled in this pull request #49. Also the generation for x509 certs will be in the winrm command line tool (other pkg).

[2016-05-23 11:44] hoenirvili commented on #53
Now we are refactoring alot of code and I don't think you should use the HEAD for now.

[2016-05-23 12:00] OCram85 commented on #53
Thanks for your quick response!
So which branch or commit should I choose?

[2016-05-23 12:01] masterzen commented on #53
The certgen code is not yet merged, master is still stable.

This is probably a go version issue. Make sure you have at least go 1.5.

[2016-05-23 12:15] masterzen commented on #53
@OCram85 you can use something like https://github.com/travis-ci/gimme to get a newer version of Go than what your distribution offers you.

[2016-05-23 12:19] OCram85 commented on #53
alright, I was using:
`go version go1.2.1 linux/amd64`

I updated to `go version go1.6.2 linux/amd64` and now it works!

[2016-05-23 12:19] OCram85 commented on #53
Now I hope I get this done https://secure.phabricator.com/w/community_resources/configuring_a_windows_build_agent_for_drydock/

:+1:

[2016-05-23 12:21] masterzen commented on #53
Marking as closed, good luck @OCram85 :)

[2016-05-23 12:21] #53 closed

[2016-05-25 09:33] #49 closed

[2016-05-25 10:12] masterzen commented on #41
That's true, it seems we're missing an access to the error.

Do you have a test case for failing the error that I could transform in an integration test so I can debug the problem further?

[2016-05-30 06:24] hach-que opened #54 "http error 500 still occurring"
We're still getting errors like these on master:

[code]

The system we're running WinRM through cuts off after a certain number of bytes in the log, so that's all the information we have.

On master, we see less http error 500s, but occasionally we're still seeing these (especially today it's much much higher).

[2016-05-30 06:41] masterzen commented on #54
Hi @hach-que ,

Thanks for the report. The recover code is looking for `OperationTimeout` which appears truncated in your output. This might explain why it doesn't detect correctly the Operation timeout.

Beside fixing the problem by correctly implementing the operation timeout (parsing the SOAP response and getting the fault code), can you try the following workaround and let me know if that fixe

[2016-05-30 06:57] hach-que commented on #54
Oh, I should have been clear.  I fully believe the `OperationTimeout` is in the output, but the process that _wraps_ winrm and captures it's output is truncating the logs.

We don't want any timeout on any operations, so we should change `PT60S` to `PT0S`, right?

[2016-05-30 07:05] masterzen commented on #54
@hach-que , I'm not sure it is possible to set an 'infinite' timeout, but you can put a very large one, it's written in ISO8601 duration format: https://en.wikipedia.org/wiki/ISO_8601#Durations

Still I'd be interested in understanding why you get the error, since it should normally be caught up by winrm and simply discarded.
Are you sending `stdin` input to the commands you run?
How do you use wi

[2016-05-30 07:15] hach-que commented on #54
No, we're not sending anything over `stdin`.

We use it to run commands on build servers, so the commands can be hour long commands.  We notice these kinds of errors are more prominent when the machine is being thrashed by a lot of processes (CPU usage near 100%).  In these cases we expect things to be slow, but not to fail because of timeouts.

For Windows Services, giving `PT0S` as the timeout d

[2016-05-30 07:42] masterzen commented on #54
@hach-que that's more or less how I usually test, but I wasn't able to trigger any issue (but it's on an idle VM on my laptop).
You could add some `fmt.Println` over the code in `commands.go`, `http.go` and `client.go` to see why this error bubbles up to the winrm executable.

[2016-06-12 08:28] StefanScherer opened #57 "Run integration tests in AppVeyor"
I found that the Ruby WinRM gem uses AppVeyor to run real integration tests. Thanks to @mwrock there is an `appveyor.yml` that could be used to start such integration tests for this repo as well.

https://github.com/WinRb/WinRM/blob/master/appveyor.yml

Any ideas how to start with that?

[2016-06-12 19:17] masterzen commented on #57
Thanks, that's highly interesting.
Before investigating appveyor we need to have integration test :)

[2016-06-14 05:42] foxundermoon opened #58 "http response error:404 when im use the winrm-cli on macOS"
`http response error: 404 - invalid content type`
where is something wrong?
it run well under pywinrm.

[2016-06-14 07:38] hoenirvili commented on #58
@foxundermoon
Could you provide a code snipped?
Could you provide more information?

Also could you check if the winrm listener is **UP** with a ping?

[2016-06-14 08:16] masterzen commented on #58
@foxundermoon

As @hoenirvili asks you, this would be helpful to get more information on how you use the library and/or the cli exe, and what version of Windows are you using?

If you can provide a tcpdump-like packet capture we might better understand the problem.

From the error, I would think that you're connecting to something else than a winrm server, which then returns an HTML error page, he

[2016-06-15 01:44] foxundermoon commented on #58
@masterzen
@hoenirvili
the server is windows 2008 s2  and the winrm service is under the IIS  **reverse proxy**
i'm just use the `winrm-cli`
today,i capture the http traffic under the http proxy tool.
[code]

[2016-06-15 03:06] foxundermoon commented on #58
[code]
this is pywinrm is run well.
it's request
[code]
and response
[code]
and than  has other request and response.

this is winrm-cli's resuest and response
`winrm-cli -port 80 -username Administrator -password ******  -hostname server.domain`
[code]

response
[code]

[2016-06-15 03:21] foxundermoon commented on #58
And I also try the   pywinrm basic Authorization
[code]

request
[code]
response
[code]

[2016-06-15 08:39] masterzen commented on #58
@foxundermoon,

Thanks for the traffic capture. I think the problem might be the `Host:` header we send. Unfortunately you've obfuscated them in your replies so it's hard to tell if I'm right or not.
That probably make your IIS proxy not proxy to the right endpoint.

Can you have a look to the traffic again and see if there are differences in the way the `Host:` header is formatted for your python

[2016-06-15 11:34] foxundermoon commented on #58
@masterzen
i found the reason.
the go-winrm  http header's host  format different from  pywinrm
`sample.com:80`  -------> this is error.
`sample.com`  ---------> this is fine.

my virtual host rules  is match from the host and port.
so my virtual host cannot match.

[2016-08-17 07:31] Asuan opened #60 "Azure remove http and tls package (build fail)"
You are using package:
github.com/masterzen/winrm/auth.go:8:  "github.com/Azure/azure-sdk-for-go/core/http"
github.com/masterzen/winrm/auth.go:9:  "github.com/Azure/azure-sdk-for-go/core/tls"
But this package is not exists anymore.

[2016-08-17 08:10] masterzen commented on #60
@Asuan you're right, they removed their fork now that Go 1.7 contains the correct renegociation code (see Azure/azure-sdk-for-go#375).

@hoenirvili beside moving to Go 1.7, do you see any good solutions to this problem?

[2016-08-17 08:47] hoenirvili commented on #60
@masterzen we could vendor in the pkg,  the tls/http and move on to 1.7 when they will release it officially. Or we could just use another fork that has the patch enabled.

[2016-08-17 08:54] hoenirvili commented on #58
@masterzen you can now close this issue.

[2016-08-17 08:55] masterzen commented on #58
Closing, reopen if this proves to be an issue.

[2016-08-17 08:55] #58 closed

[2016-08-17 08:57] masterzen commented on #60
@hoenirvili Go 1.7 is now released, hence the issue :)

Vendoring is an issue for the consumers of this library, if I'm not mistaken.
I'm more inclined to move to Go 1.7.

[2016-08-17 09:23] gabriel-samfira commented on #60
@masterzen We have 2 choices here:

1) use version locking. We can use the latest revision of the azure SDK that still has what we need. This does not have to be a permanent thing, just long enough to allow projects still stuck on go versions < 1.7 to update their code and dependencies.

2) move to go 1.7. Given that go 1.7 is just a few days out the door, we might want to wait a bit longer, until

[2016-08-17 12:34] hoenirvili commented on #60
I'm leaning of what @gabriel-samira said. So what's your thoughts @masterzen ?

[2016-08-17 17:23] ahmetalpbalkan commented on #60
I suggest copying deleted versions of azure/core/* packages to this repo if you don't want to move to Go 1.7 right away.

[2016-09-22 07:48] strawhatboy opened #61 "Proxy support"
It seems that there's no http proxy support for the communication, am i right?

So if I use the 'packer' (from hashicorp, which is referencing this project) behind a http proxy to create a windows EC2 images on AWS, it will hang at 'waiting for winrm'...

anyway I got the issue on my own PC which is behind the proxy, but the packer succeed to run on another AWS instance (no proxy to connect to AWS

[2016-09-22 08:04] strawhatboy commented on #61
Ah.. sry, it seems that packer is using RoundTripper which includes the proxy settings inside... not sure why it's not working on my PC...

[2016-09-22 08:04] #61 closed

[2016-10-12 07:37] monoflash opened #62 "FATAL ERROR!!!!"
[code]

[2016-10-12 07:46] masterzen commented on #62
Yes, I am aware of the issue, I just didn't had the time to fix it, see #60 for more information.
Any PR is welcome, of course.

[2016-10-12 07:46] #62 closed

[2016-10-14 15:11] masterzen commented on #60
This should be fixed. Please reopen if not.

[2016-10-14 15:11] #60 closed

[2017-01-17 14:01] Daviey opened #65 "winrm-cli please setproctitle"
Currently the username and password is exposed through ps.  It would be good if this is hidden via setproctitle.

[2017-01-17 14:53] masterzen commented on #65
Thanks for the idea. Unfortunately I'm afraid this won't work on Windows (I can be wrong I didn't check), and I know some of the users of this tool are Windows shop.

Actually I have plans for a better [winrm-cli](https://github.com/masterzen/winrm-cli) that would allow to use environment variables and/or a config file like what awscli is doing. This would solve this specific issue.
You can see wh

[2017-01-19 13:09] pearcec commented on #61
Did you ever get this working?  I couldn't.  When I ran wireshark I could see it was hitting my proxy, but trying to go direct.

[2017-01-20 08:33] mwhooker commented on #12
I've also noticed that winrm doesn't seem to detect when the remote end disconnects. If I run sysprep /shutdown my winrm client hangs forever.

[2017-01-25 02:46] strawhatboy commented on #61
@pearcec Yes, I succeed to run packer through my proxy by modifying its source... you may like to check it here: [https://github.com/strawhatboy/packer/commit/620f107649b98105cc72141e5dffd2382a05991b](commit 620f107649b98105cc72141e5dffd2382a05991b)

[2017-07-10 05:09] gobins opened #71 "Client function to handle file transfer"
It would be handy to have a client function that could be used to easily transfer local files to the remote server. Is this something that could be added to the client. Happy to send a PR.

[2017-07-12 10:43] gobins commented on #71
Looks like there is already an implementation here:
https://github.com/packer-community/winrmcp

[2017-07-12 10:43] #71 closed

[2017-08-02 18:24] davalente opened #72 "Question: Kerberos support"
Any ideia when will you support kerberos?

[2017-08-13 06:52] srinathgs opened #74 "LGPL library in use"
Hi,

As we use LGPL xmlpath, any code that imports winrm and sends the executable binary is just LGPL infected as LGPL requires that in case of statically linked binaries, the proprietary code also has to be released under LGPL.

Is there any way to overcome this?

Got info from [here](https://stackoverflow.com/a/10179181/1043536).

Thanks,
Srinath

[2017-08-13 06:55] srinathgs commented on #74
There is a PR #73 addressing this issue. Closing this.

[2017-08-13 06:55] #74 closed

[2017-08-13 07:04] srinathgs commented on #72
from my understanding, kerberos will work only when you are executing from a domain machine, otherwise, Negotiate is selected. Unless this winrm library is executed from a Domain machine, you won't need kerberos.

[2017-09-03 18:52] #57 closed

[2018-02-08 14:34] DenisBY opened #75 "http response error: 401 - invalid content type"
Getting error above on this command:
[code]

Windows has default settings, I can connect using `pywinrm`.

[2018-02-08 18:59] runeimp commented on #75
I haven't tried pywinrm yet but be sure to set the following on the server for this winrm client.

[code]

Also checkout http://www.hurryupandwait.io/blog/understanding-and-troubleshooting-winrm-connection-and-authentication-a-thrill-seekers-guide-to-adventure to help debug if the above doesn't work for you.

[2018-02-12 15:23] Xiol opened #76 "Vendoring this library causes build failures"
Hi,

We have a project using this library which won't build if we vendor this library (using [dep](https://github.com/golang/dep)).

[code]

Without vendoring, the everything builds fine.

I can see that you're using your own fork of `azure-sdk-for-go`, but dep seems to be pulling in the MSOpenTech one as well for some reason - I'm not entirely sure why it's doing this as all we're directly import

[2018-02-12 16:11] masterzen commented on #76
Hi,

This is very strange since there's no references at all to `MSOpenTech` in this project nor in the `azure-sdk-for-go` fork I'm using.

I'm a bit out of clue about this issue. Try to clean your go pkg, maybe you got an older version of winrm that pointed to the MSOpenTech version ?

On a side note, this fork is not needed since in Go 1.7 (or was it 1.8), they integrated the necessary bits that

[2018-02-12 16:13] masterzen commented on #76
Oops, I misread your last sentence. Indeed that's probably the cause.

So that leaves us with two options:
* remove completely the dependency and assume Go >= 1.7
* clean the fork to remove mention of MSOpenTech

I'm all in favor of option 2. I don't really have the time to address this in the coming weeks, but I'm welcome to any PR.

[2018-02-12 16:32] Xiol commented on #76
Figure this out - by default dep was pulling in the v1.2 tag as that was the latest available tag. The master branch doesn't contain the references back to the MSOpenTech library though, so I changed the constraint in dep to pull in master rather than v1.2 which resolves the issue (with some extra faffing).

Will have to pin it to the current master commit to ensure it doesn't break on changes, bu

[2018-02-12 16:32] #76 closed

[2018-02-12 16:43] masterzen commented on #76
OK, thanks for the explanation!

[2018-02-14 09:23] synax commented on #75
I had the exact same issue. Unfortunately the error message is somewhat confusing. The status code is there, and points you in to the right direction but the error message "invalid content type" is a bit meaningless in this case. I think the reason for the "invalid content type" message is because the body is basically empty in this particular scenario. So in [http.go](https://github.com/masterzen

[2018-02-16 18:23] stapelberg opened #77 "Tests fail with Go 1.10"
[code]

[2018-02-24 15:46] masterzen commented on #77
@stapelberg,

This is a race condition in `runWithString`.
I'm going to fix it soon.
Thanks for reporting.

[2018-02-24 16:03] #77 closed

[2018-03-23 06:29] obeleh commented on #72
The client doesn't have to join the domain. But connecting to servers requires the client to use FQDN's

[2018-04-26 13:03] rgl opened #80 "winrm-cli should refuse to run without a command"
When we do not specify a command in the winrm-cli command line, e.g.:

[code]

We get this cryptic error:

[code]

Can winrm-cli be modified to require the command parameter?

[2018-04-26 17:33] #80 closed

[2018-06-06 07:46] dpotapov commented on #72
I've just published some code here https://github.com/dpotapov/winrm-auth-krb5

I've tested it only for Windows so far (it uses SSPI underneath, thus the client system must be in the domain), but should be working on Linux as well assuming `/etc/krb5.conf` is in place.

[2018-06-06 07:57] dpotapov opened #83 "public interfaces for client credentials and endpoint URL"
Hi,

I've created two authentication modules for [NTLM](https://github.com/dpotapov/winrm-auth-ntlm) and [KRB5](https://github.com/dpotapov/winrm-auth-krb5).
They can be implemented a bit better if there would be following properties publicly available:
* `endpoint.url()`
* `client.username`
* `client.password`

Thanks.

[2018-06-06 08:13] masterzen commented on #83
Hi @dpotapov ,

Indeed this is probably easy to do, and would help other people implement authentication modules.

I'm wondering, though, if you would want to contribute your NTLM and KRB5 projects as PRs to this project?
That would solve your issue and we could DRY a bit the codebase to put in common the `Post` method of all the transports implementations. One downside would be that this new code

[2018-06-06 16:02] dpotapov commented on #83
Not sure if I could accommodate some time for making PRs in the near future, though I'm definitely willing to contribute at some point.

[2018-06-21 15:21] byumov opened #84 "Dependencies azure-sdk-for-go from auth.go no longer exist"
https://github.com/masterzen/winrm/blob/master/auth.go
[code]
Please, fix it.

[2018-06-21 20:21] masterzen commented on #84
I don't understand what happens, the repository is definitely here: https://github.com/masterzen/azure-sdk-for-go

[2018-06-21 21:04] byumov commented on #84
@masterzen sorry, it's my mistake, i'll close the issue.
Thank you!

[2018-06-21 21:04] #84 closed

[2018-06-26 23:59] rmb938 commented on #76
I am having a similar issue, winrm is a dependency of another library I am pulling in. Is there any reason you are using your own fork of the azure sdk instead of the official one?

[2018-06-27 14:22] rmb938 commented on #76
Ah ok, makes sense. I have no problem making a PR to migrate things in the next week or so. Would you be willing to help test it? I haven't done any windows administration so I wouldn't really know how to properly test things.

[2018-06-29 10:49] masterzen commented on #76
@rmb938 I don't have a lot of bandwidth recently, and will have very low Internet connectivity until end of July. Feel free to send the PR, I'll do my best to test/review it. Otherwise, I'll probably do the fix during the summer.

[2018-10-26 18:00] tmccall8829 opened #87 "Incompatibility with GPO settings"
My organization uses Terraform for provisioning servers, which of course uses this WinRM library. We're primarily a windows company, and there are a few group policy settings -- `Allow Basic Authentication` (must be set to _Disabled_) and `Allow Unencrypted Traffic` (must be set to _Disabled_) -- that we want to have set to be in compliance with certain CIS guidelines. It's my understanding that t

[2018-10-26 18:42] hoenirvili commented on #87
AFAIK this package supports WinRM x509 authentication and basic authentication with username:password.

[2018-10-27 09:08] masterzen commented on #87
@tmccall8829 as @hoenirvili said, it is possible to inject a different transport than pure HTTP in the library. As such it is possible to use HTTPS (see the README or @hoenirvili example), either in encryption only or in client auth+encryption.
We also have support for NTLM, see in the README the ClientNTLM example (or PR #64).
And finally, you can also use this [Kerberos authentication](https://g

[2018-10-27 09:08] #87 closed

[2018-11-28 18:19] davejohnston opened #88 "Supporting AllowUnencrypted=true"
Currently we need to disable message level encryption using AllowUnencrypted=false.   Are there any plans to implement that - or thoughts on how difficult it might be?

[2018-11-30 20:58] ddrake17 commented on #75
I got this error when using the API and had the wrong credentials in my `winrm.NewClient` call

[2019-01-27 11:35] song-jiang opened #89 "winrm-cli does not handle password with Non-Alphanumeric tokens"
While deploying windows instances on AWS by an automation tool, the password will normally be generated from a ssh key. For instance, a password could be `GBBVN@wm$c)LkNbfSBZs6@NFtkL.m?tA`. If you pass it directly to winrm-cli, the `$` sign will be omitted. This would result an error message `http response error: 401 - invalid content type`.

[2019-01-28 08:33] #89 closed

[2019-02-19 11:36] toren77 opened #90 "Error: Unknown operation name"
Hi
I try winrm on windows powershell ` winrm -hostname "54.165.199.168" -username "Administrator" -password "secret" "ipconfig /all"`
getting folowing error `Error: Unknown operation name: '54.165.199.168'`
same error appears with diffrent IPs

`go version go1.11.5 windows/amd64`

[2019-02-19 14:09] masterzen commented on #90
It would be interesting to see if that works with the normal windows `winrs` client.
If you get the same error then that's probably not the fault of this winrm client, but the server.

[2019-02-19 22:13] toren77 commented on #90
PS C:\Users\PCDA> Test-netConnection 54.165.199.168 -Port 5985

ComputerName     : 54.165.199.168
RemoteAddress    : 54.165.199.168
RemotePort       : 5985
InterfaceAlias   : ‏‏Ethernet
SourceAddress    : 192.168.2.106
TcpTestSucceeded : True

[2019-02-20 09:28] masterzen commented on #90
@toren77, thanks this shows the connection is possible, but doesn't validate the other end winrm handler is correctly enabled.
I was more thinking about using another winrm client, such as `winrs` and check you can conclude a winrm transaction with the other end.

[2019-03-19 15:29] mhristof opened #93 "Malformed XML file"
im getting this error when trying to execute a command to a remote windows host

[code]

My code is

[code]

and my deps are

[code]

go version
[code]

I've tried building https://github.com/masterzen/winrm-cli and running `winrm` with the same username/password/host and it was a success.

Im not sure if this is a bug or im missing something :(

[2019-03-20 12:30] masterzen commented on #93
Hi,

Thanks for the report. I have no idea what could be wrong (except that something doesn't sent back xml).

Since you say that the winrm-cli version is working with the same winrm server, then that means something that we introduced recently has broken something, because winrm-cli uses an older winrm (the library) version.

Would you have time to `git bisect` the problem and isolate what commit

[2019-03-20 12:56] mhristof commented on #93
thanks for the reply, ill do the bisect and report back.

I've tried digging a bit to see if i can enable debug logs but couldnt find anything (although my golang knowledge sucks).

Is there anything i can do to get some more logs out of it ?

[2019-03-20 18:30] mhristof commented on #93
This is starting to look like a PEBCAK :\

If i perform a `go get https://github.com/masterzen/winrm` and then use a simple script to execute a remote command, [it works](https://github.com/mhristof/winrm-example/blob/master/Dockerfile.success)

If i do a `dep init` so that golang fetches winrm and other deps and then use the script to execute a remote command, [it fails](https://github.com/mhrist

[2019-03-20 20:33] mhristof commented on #93
after further searching and some external help, the issue is the version of `github.com/ChrisTrenkamp/goxpath`.

if i `dep init`, here is the list that is fetched

[code]

and that causes the xml error.

But if i add a constrain to fetch the master branch in `Gopkg.toml`

[code]

and `dep ensure`, i get this list

[code]

which makes my test program to work without the xml error.

[2019-03-20 22:12] masterzen commented on #93
Many thanks for the troubleshooting!
You did an awesome job :)

I'll fix that bad dependency tomorrow.

[2019-03-21 12:34] masterzen commented on #93
Hi @mhristof ,

Indeed, `dep` always favor a tag as explained in the [documentation](https://golang.github.io/dep/docs/migrating.html):

You won't get the issue if you use Go 1.11 module system, because the provided `go.mod` points to a working version of https://github.com/ChrisTrenkamp/goxpath.

Since we can't support every go vendor system (and it would be hard to sync them all), we're using th

[2019-03-21 12:34] #93 closed

[2019-03-21 14:55] mhristof commented on #93
makes sense, i need to switch to `go.mod` anyway.

Cheers for the help

[2019-04-22 15:44] iaitov commented on #13
hello, is there some workaround for this situation, I had the same problem with Invoke-Command and DPAPI

[2019-09-17 21:10] Langriklol opened #94 "/bin/sh: 3: godep: not found"
Hi, make command gives me error of unsuccessful dependency (godep), but I have godep installed. How do I fix this error?
[code]

[2019-10-22 19:33] rgl opened #95 "Are the user commands properly XML encoded/escaped?"
Looking at https://github.com/masterzen/winrm/blob/1d17eaf15943ca3554cdebb3b1b10aaa543a0b7e/request.go#L83 leaves me doubtful of whether that is properly encoding/escaping the user supplied `command`.

Why is that just putting the user supplied command in a CDATA section without further encoding/escaping? Why is this even trying to encode/escape the data using a string concatenation? I mean, shoul

[2019-10-23 15:47] masterzen commented on #95
Hi,

Thanks for your comment. While that's true there's no escaping of the CDATA, I doubt it would form a valid command anyway :)

I find it particularly difficult to answer your (I suppose rhetorical) question with something else than: because I probably didn't thought about it at that time or that I didn't care enough for my use case at that particular time :)

Now, if you look deeper you'll not

[2019-10-23 17:47] rgl commented on #95
I should have warned you, but this kind of stuff is like a pet peeve of mine because I've been hurt by broken implementations so many times.

I was curious to known if there was a reason of why it is like it is (e.g. whether the WinRM/PSRemoting SOAP stack was broken and only worked with this kind of XML or because of any other reason), so if you have any more reasons, please let me known ;-)

I c

[2019-10-23 17:54] rgl opened #96 "Use proper UTF-8 to UTF-16 conversion?"
Can https://github.com/masterzen/winrm/blob/1d17eaf15943ca3554cdebb3b1b10aaa543a0b7e/powershell.go#L10-L23 be changed to use a proper UTF-8 to UTF-16 (the native windows encoding) conversion?

[2019-10-24 07:51] masterzen commented on #95
@rgl,

Indeed we can consider the responsibility of escaping to be in the winrm library. It's simpler.

`xml.EscapeText` would definitely work, it would be interesting to test.

The problem with `emitCDATA` is that we need to check if the license is compatible with the project and keep the copyright attribution (or reimplement).

[2019-10-24 08:01] masterzen commented on #96
@rgl,

I'm not really versed into Windows encoding (nor UTF-16). From what I understand this code is building a pure UCS-2 (wide char) string with the topmost byte being always 0. This will indeed fail with any character > 127, which is unfortunate.

I think this can be fixed with this:
[code]

Hopefully the result will be in proper endian for the receiving machine.

Would you mind testing this, a

[2019-10-24 17:26] rgl commented on #96
Windows uses UTF-16LE and utf16.Encode is UTF-16BE. I will submit PR soon.

[2019-10-25 18:57] rgl commented on #96
Oh an I was mistaken, `utf16.Encode` is really UTF-16LE! We just need to convert the result into a `[]byte`.

[2019-10-25 19:08] rgl commented on #95
Go uses a [3 clause BSD-style license](https://github.com/golang/go/blob/master/LICENSE) and both are compatible. But I will try with the public `xml.EscapeText` first.

[2019-10-27 18:51] masterzen commented on #96
@rgl I'm lost, your PR implements a BE->LE conversion, but your last comment here seems to imply it wasn't needed. Can you elaborate?

[2019-10-27 22:23] rgl commented on #96
Sorry for the confusion... `utf16.Encode` is already doing UTF-16LE but returns the result as a `[]uint16`. The `encodeUtf16Le` function converts that to a `[]byte`, making the entire conversion from `string` to `[]byte` encoded as UTF-16LE.

[2019-11-03 14:30] rgl opened #98 "Have an option to skip using cmd.exe to execute commands"
Currently the command executable and arguments are executed indirectly by the `cmd.exe` shell but it would be very useful to have a way to skip it entirely, as that would simplify command execution without having to worry about the `cmd.exe` parsing rules (this way we "only" need to deal with the default / common [CommandLineToArgvW](https://docs.microsoft.com/en-us/windows/win32/api/shellapi/nf-s

[2019-11-04 13:14] masterzen commented on #98
No I never tried this. It might haven't been documented when I initially wrote this library.

[2019-11-04 19:43] rgl commented on #98
In the mean time I've tried the obvious change of `cmd` to `CustomShell` and it did not work. I'm afraid its not that simple to change this, or even possible without implementing some kind of WinRM plugin that handles a CustomShell.

Another alternative would be to use PowerShell Remoting. There's a python library at https://github.com/jborean93/pypsrp (I didn't try to find a ruby equivalent) and

[2019-11-14 05:21] vijendarp opened #99 "Issue where powershell json output is getting truncated"
When we execute powershell commands (with convertto-json option) remotely using winrm client, we observe that the json output of powershell getting truncated.
Initially we thought this may be due to large output of powersheIl for some of the commands we are executing. But we started observing this issue even for commands which don't display larger output.
We are unable to figure out what the issue

[2019-12-04 13:48] benjamb commented on #75
I'm hitting this error currently, despite `winrm get winrm/config/service` showing that AllowUnencrypted is set to true:
[code]
Is there something obvious I'm missing?

[2020-01-14 08:45] jbrekelmans opened #100 "Improve use of defer when callling sync.WaitGroup.Done or cleaning up resources, to improve resiliency against panics"

[2020-01-14 08:46] jbrekelmans commented on #100
Oops wrong reop

[2020-01-14 08:46] #100 closed

[2020-02-13 22:51] rhoughton-pivot opened #101 "winrm-cli does not return from commands issued"
Since the change to go-modules, winrm-cli does not return when issuing commands to remote Windows machines. Following the sample command on the `winrm-cli` README yields expected `ipconfig /all` results, but then hangs as though expecting more output.

[code]

[2020-05-12 14:14] atxviking commented on #101
Noticing the same behavior. It's not limited or specific to `ipconfig`.
Basically any command sent exhibits the same behavior.

[code]

Have tried on darwin and linux (via a Docker container) with the same results.

[2020-05-12 23:53] atxviking commented on #101
Tested using example from the README:

[code]

Read through some of the tests and tried a modified version based on the [test config](https://github.com/masterzen/winrm/blob/master/client_test.go#L118).
The below worked, which indicates that I didn't understand the meaning of the input. My fault there.
Posting this for anyone else who comes across it.

[code]

[2020-05-13 07:18] masterzen commented on #101
Hi @atxviking,

I'm not sure I understand what you meant. Do you mean you were able to make it not block waiting for input?

The original report was about the `winrm-cli` command that was stuck.
Indeed `winrm-cli` tries to read `os.Stdin`. Theoritically the shell shouldn't give anything to read to the process, but I think it is possible that the code blocks while waiting for `os.Stdin` to give som

[2020-05-13 22:39] rhoughton-pivot commented on #101
You should be able to build it yourself:

Working, non-blocking [dockerfile](https://github.com/apache/geode/blob/develop/ci/images/alpine-tools/Dockerfile) using a pinned SHA to build locally
Non-working, blocking [dockerfile](https://github.com/apache/geode/blob/5e8107ad12e4ba891bb7707f111696282b2cff2a/ci/images/alpine-tools/Dockerfile) from before we pinned

[2020-05-15 14:13] masterzen commented on #101
Hi, I believe I fixed the issue in the latest winrm-cli version (see masterzen/winrm-cli#9).
It's what I thought, winrm-cli was always telling winrm to wait for stdin. But when the command is run from a terminal, then there's nothing to wait for.

Please @rhoughton-pivot and @atxviking , can you check the problem is fixed for your use cases?

Thanks,

[2020-05-15 14:13] #101 closed

[2020-05-15 23:26] atxviking commented on #101
Thanks for looking into this.
Working on my end.

[2020-05-19 15:26] rhoughton-pivot commented on #101
Thanks for the fix. Works for us as well.

[2020-06-04 22:33] Dineshk77 opened #103 "Problem with WinRM connection if the host requires first time login password change"
I am trying to establish winrm connection to the host which has a first time login password change requirement. Is there an option to stdin when the host requests password change?. I am using the below code structure and fails during createShelll() call stating **unknown error Post "http://host_ip:5986/wsman": net/http: timeout awaiting response headers**

[code]

The host has the below winrm sett

[2020-06-05 06:15] masterzen commented on #103
Hi @Dineshk77 ,

Thanks for reporting this issue. Unfortunately I don't think you'll be able to solve this issue by reading stdout/stdin. I'm not sure, but I believe that this password change is part of the authentication negotiation in NTLM.

Can you try another winrm client implementation (ie the ruby one for instance) to check that it is indeed an issue in this project?

But I think it would be

[2020-06-06 13:00] Dineshk77 commented on #103
Hi @masterzen

I tried with one of the ruby project -https://github.com/WinRb/WinRM

I couldn't make a successful connection using the user account which requires password rest. However I was able to connect with another domain account with the below code and it worked.
[code]

However I can't do the same using below winrm Golang code. Am I missing something?
[code]
Error states: http response err

[2020-06-09 09:41] kke opened #104 "CommandWriter Close() infinite loop"
https://github.com/masterzen/winrm/blob/master/command.go#L227-L230

[code]

I'm not a go-wizard, but doesn't this create an infinite loop and cause a stack overflow panic? I got this:

[code]

[2020-06-09 11:37] masterzen commented on #104
This indeed seems quite suspicious.
I think this should really be `w.Command.Close()`.

Can you implement it and let me know if that indeed solves your original issue?
If not, then that means we're going to have to resume #82 and finish that work.

[2020-06-09 12:32] kke commented on #104
@masterzen

Hmm, should closing Stdin really close the command? Something comparable to `echo $secret_stuff | a_command_that_takes_some_time` would die instantly after the echo completes. Maybe it should just do the `w.eof = true` part and return nil.

I'll try

[2020-06-09 14:00] masterzen commented on #104
As said in #82, it probably requires closing the stream with `sendInput(nil)` then later do a `command.Close()` (probably from `RunWithString` and `RunWithInput`).

[2020-06-10 06:50] kke commented on #104
In the python lib there's this:

[code]

Notice: `            stream['@End'] = 'true'`

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/winrm.py#L430-L442

I don't see this library sending the @End anywhere, I believe it should be done somehow in `request.go`:

[code]

I don't think `sendInput(nil)` alone accomplishes anything but send an empty request. Maybe here in `

[2020-06-10 07:23] masterzen commented on #104
Interestingly I can't find the documentation about `@End` in:
https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-wsmv/af694324-e034-404d-a61d-de57c8cba74f
nor:
https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-wsmv/2629bd02-7269-4d7a-9c6c-a0e5e8ade2bc

The ruby implementation doesn't seem to send this attribute either.

I'm going to test over the week-end and let you kno

[2020-06-10 07:39] kke commented on #104
Well for example `docker login -u %s --password-stdin` and feed it with a password.

The current connection + stdin test I added to investigate this problem is:

[code]

(host.ExecCmd could be calling my winrm or ssh package and the function also serves as a check to see if passwordless sudo works / if the user has admin privileges on windows)

[2020-06-10 07:43] kke commented on #104
I think my PR somewhat works but it fails in tests, I think it needs a bit different strategy, maybe a bool param for eof. I'm not using the RunWithInput in my own code so I'm not sure if that still works.

[2020-06-10 08:15] kke commented on #104
Ok I changed it a bit, now it passes tests and it still works for me, don't know for others.

[2020-06-10 11:47] kke commented on #104
The description of #82 links to some 2006 pdf:

[2020-06-10 23:58] SwampDragons opened #106 "Need a way to set Proxy in Transporter"
Hi, I maintain [Packer](https://github.com/hashicorp/packer) and we use your library for our winrm communications. We recently discovered that we cannot set the NO_PROXY environment variable during our build and have it picked up by your transporter, because the way ProxyFromEnvironment works here, https://github.com/masterzen/winrm/blob/master/http.go#L57, it's instantiated the very first time Pa

[2020-06-12 09:08] masterzen commented on #106
Hi @SwampDragons ,

I understand your issue.
Please send me a PR, I'll merge it ASAP.

Thanks !

[2020-06-12 14:15] #104 closed

[2020-06-12 14:16] masterzen commented on #94
This project is using go mod now, so I think this issue has been fixed.

[2020-06-12 14:16] #94 closed

[2020-06-12 14:20] masterzen commented on #103
The HTTP error 401 means that the winrm server didn't authorize the request. Unfortunately this is hard to troubleshoot.
First check that the password is indeed correct, if it's the case, then you might need to use the NTLM transport. Check this project readme for a code example.

[2020-06-15 18:06] SwampDragons commented on #106
Great, I'll do that now.

[2020-06-15 18:57] #106 closed

[2020-06-18 21:21] L1ghtman2k opened #108 "Winrm hangs when remote client doesn't exist"
Hey,

I utilize the project in an environment where I need to run winrm constantly on arbitrary hosts at very specific times. The current implementation allows inserting timeouts, however, it seems like if the remote host does not exist, the code will hang for longer than timeout provided because of the following: https://github.com/masterzen/winrm/blob/c42b5136ff886aff9dba40fb3670281f0d583db8/htt

[2020-06-19 12:39] masterzen commented on #108
Thanks for your report!

There are several thing at play here, I think.
First, when you say the host doesn't exist, I assume the DNS exists, but the IP address is not assigned and nobody answers, right?

The default transport contains a hardcoded Dial Timeout of 30 seconds:
https://github.com/masterzen/winrm/blob/c42b5136ff886aff9dba40fb3670281f0d583db8/http.go#L49-L52

So if the client is not abl

[2020-06-19 17:31] L1ghtman2k commented on #108
[code]
Correct, I tried directly on IP that doesn't exist, but I think the same logic applies here.

My current workaround is to check weather the port on a remote machine is open prior to attempting winrm connection:
[code]

Thanks for the solution provided, it is good enough for me!

[2020-06-19 17:31] #108 closed

[2020-07-27 21:21] rjhornsby commented on #41
I know this is an old issue, but I think I'm hitting the same problem.

I've been trying to use `.Run()` like so:

`exitcode, err := client.Run("Add-DNSServerResourceRecord -ZoneName myzone.local -A -Name test -IPv4Address 10.0.0.1", os.Stdout, os.Stderr)`

But, there's a problem with the PS result. Just for completeness - it doesn't really matter - the error (stderr output) is

`'Add-DNSServerRes

[2020-09-16 11:33] mertcelen opened #110 "Encrypted NTLM Connection"
I was wondering if it's possible to provide encrypted ntlm request via 5985. I know the fact that it's not ideal but many Windows applications use it that way because it's always enabled like this in servers by default and it's dead simple to enable it clients via GPO.

Microsoft have this post about how dangerous it is without encryption.

https://devblogs.microsoft.com/powershell/compromising-yo

[2020-09-16 12:31] masterzen commented on #110
I believe it's possible, see the 3rd code example in the [README](https://github.com/masterzen/winrm#library-usage).
I think it would be safer to use HTTPS anyway (so port 5986), I think it might be possible to run the Winrm https listener on port 5985 (if you can configure all clients to speak https on this port).

[2020-09-16 14:31] mertcelen commented on #110
HTTPS is definetly ok, but do we still need to disable encryption with ssl? If so, that's still bad because we cannot force all the computers to disable encryption.

About example, that's actually what I'm working on atm. NTLM is working well but encryption is the only problem left.

[2020-09-16 14:48] masterzen commented on #110
I'm afraid I don't know enough about NTLMSSP/CredSSP to answer your question. I suggest that you try using the NTLM transport in combination with encryption and report if it works or not.
It was my understanding that this requires kerberos, and I'm afraid [Go-ntlmssp](https://github.com/Azure/go-ntlmssp) doesn't support encryption as defined in the [full NTML protocol documentation](https://docs.m

[2020-09-17 21:45] mertcelen commented on #110
Hi again!
I've finally managed to get it working. For some weird reason,  ntlm works with encryption through ssl. I don't mean tls encryption, ntlm's encryption so we don't need to disable any security details. To get it fully working, use ansible's winrm setup script  [here](https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1)

PS:You can also

[2020-09-17 21:45] #110 closed

[2020-11-26 11:18] posilva commented on #13
Hello, @pecigonzalo what parameter needs to be changed in the SOAP message, I would be happy to contribute with a PR.

If you could share some docs or links I would take a look. I am facing the same issue reported in this ticket.

[2020-12-17 03:21] mingxuechao opened #114 "Could add an interface for modifing the struct client's password"
When I use winrm modify password for a windows user himself.  The _shell_ created by **CreateShell** of the client and the _cmd_ of created by **Execute** of the shell could not be closed for password has changed.  Arise resource leak. For shell Id is not exported, i have no idea to close the shell otherthan change the client password before do **shell.Close**.

[2021-01-12 20:59] ryno75 opened #115 "Plans to support Domain Users?"
From the `README.md`...
[code]

Are there any plans to add support for domain users?

[2021-05-02 09:01] jpatigny opened #117 "Support linux / macos for Powershell function"
Currently, the Powershell function encode and create a powershell command with an hardcoded powershell.exe ([code](https://github.com/masterzen/winrm/blob/master/powershell.go#L26))

It would be nice to support other OS like linux/MacOS by passing the proper shell/binary (powershell.exe/pwsh) accordingly

[2021-06-28 13:22] brettjacobson commented on #115
This would be very valuable for Enterprises with Windows domains.

[2021-06-29 06:41] masterzen commented on #115
I do understand that it would be very useful.
Unfortunately I don't know how to do that, and I don't have the corporate environment that would allow me to even test this feature.
I would of course welcome any contributions that go in this direction.
A possible solution would be to use https://github.com/jcmturner/gokrb5 and create a new transport for this library.

[2021-07-28 11:59] kke opened #121 "panic: close of closed channel"
[code]

https://github.com/masterzen/winrm/blob/master/command.go#L111-L115

[code]

[2021-07-29 12:08] kke commented on #121
@masterzen I made a PR that attempts to fix this via `sync.Once` in #122 - PTAL.

[2021-07-29 12:15] masterzen commented on #121
@kke , do you by any chance have client code or a unit test that could reproduce the issue so that I understand how the double close was triggered?

[2021-07-29 20:06] kke commented on #121
It goes something like this:

[code]

It seems to occur in situations where a command is periodically retried.

Anyway, to me it seems the select statement does not always do what it is supposed to. If it manages to read from the cancel channel, the channel remains open. Also I'm not sure if it's guaranteed to always hit that branch first.

Also I don't know if it should even proceed to send the s

[2022-02-17 11:39] kgadams opened #125 "Public access to `Command.err` needed"
Hi Brice,
I would like to have public access to the `err` member of the `Command` struct. This would make it possible to reimplement the `Client.Run*` methods out of package in a way that supports canceling via `context.Context`. Would you consider a PR to this effect?

[2022-04-13 22:14] taliesins commented on #115
Perhaps we can close this now that #123 has been implemented?

[2022-04-13 22:14] taliesins commented on #72
Perhaps we can close this now that #123 has been implemented?

[2022-04-23 08:20] masterzen commented on #125
Sorry for the very late answer, but I would prefer to have a PR that adds support for passing a `context.Context`.

[2022-04-23 08:21] masterzen commented on #115
Feature has been implemented, closing

[2022-04-23 08:21] #115 closed

[2022-04-23 08:21] masterzen commented on #72
Feature has been implemented, closing

[2022-04-23 08:21] #72 closed

[2022-04-25 06:39] kgadams commented on #125
Okay, fair enough.
How do you want to go about this?
* expansion of the interface with new functions (`RunWithContext`)?
* change the existing interface (which would probably mean going for v2?)
* similar to how `http.Request` does it (`...WithContext()`). However this seems to be getting out of favor with the go community, as you have to store the context in the struct.

[2022-04-25 07:20] masterzen commented on #125
I think the `RunWithContext` would be enough for this small library. Internally, it's just a matter of checking if we have a context and calling the `WithContext` whenever needed.

[2022-05-15 10:59] ionut-maxim commented on #88
Would also be curious if this is planned.

[2022-06-08 08:44] kgadams commented on #125
Is this what you had in mind?
The external interface is unaffected, but for all exposed functions we now have an alternative that takes a `context.Context` as first argument.

[2022-06-25 05:56] rabits opened #129 "No error if quota is exceeded"
Found that if I'm using quite a number of parallel operations - winrm client starts to just skip the executions and there is no way to get that the operation failed...

The error message is:
[code]

Workaround: `winrm set winrm/config/service @{MaxConcurrentOperationsPerUser="4294967295"}` helps, but overall it will be great if winrm client will be able to figure out the error from the response.

[2022-09-27 21:51] nijave commented on #75
Got this error when I didn't have `Basic` auth enabled. It looks like pywinrm must have been using `Negotiate` with username/password

[2022-10-07 18:09] cruzanstx commented on #88
What would it require to implement this?

[2022-11-01 08:50] PaulFarver commented on #125
@masterzen Would you be interested in a PR, where we pass the context to the http request as well with `http.NewRequestWithContext`, so we can control cancellation of the entire process.

[2022-11-01 10:06] kgadams commented on #125
Hi Paul, I toyed with that as well, however canceling the program on the remote machine requires a successful HTTP REST call, so that did not work out for me.

[2022-11-01 11:39] PaulFarver commented on #125
Hi Klaus-Georg, that's a good point. We should absolutely try not to leave processes hanging in the remote host.

I still think it's an issue that we can't cancel requests, though. If the remote host doesn't respond to http requests we have to wait for the os to give us an io timeout.

Just spitballing, but maybe if we split up the interface, so users could run each step separately with it's own c